<script src="src/js/jquery.swipebox.js"></script>





<div class="tour-gallery">
    <div class="tour-gallery-card">
  <h3>Tour Photos:</h3>
        <% @tour.photos.each do |photo| %>
        <a href="<%= cl_image_path @tour.photos.first&.path %>" class="swipebox" title="">
            <%= cl_image_tag(photo.path, { size: '250x200', crop: :fill }) %></a>
        <% end %>
  </div>
</div>
