/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 3em;
  padding-bottom: 3em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}
//Button

.picto {
  background: transparent;
  border: none;
  padding: 0;
}
.picto-danger {
  color: $red;
}

.picto-success {
  color: $green;
}

.flag{
  border-radius: 1px;
  color:white;
  font-weight:bolder;
  font-size: 10px;
  width: 60px;
  text-align: center;
}
.flag-validated{
  background-color: $green;
}
.flag-pending{
  background-color: $orange;
}
.flag-cancelled{
  background-color: $red;
}

.fa-true{
  color: $green;
}
.fa-false{
  color: $red;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0.0; }
}
