
.wrapper-grey {
  background: #F4F4F4;
}

.small_image {
  width: 70px;
  height: 60px;
}

.xsmall_image {
 width: 50px;
 height: 40px;
}

.a-nodecoration{
  text-decoration: none;
}
.a-nodecoration:hover{
  text-decoration: none;
}
