// Place all the styles related to the bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.decide-booking-card {
     height: 260px;
    width: 300px;
    padding: 0px !important;
    /* margin-left: 30px; */
    border: 1px solid #DFDDDD;
    border-radius: 2px;
    /* box-shadow: 1px 1px 2px #DFDDDD; */
    right: 40px;
}
.decide-booking-fixed {
    position: fixed;
    top: 0;
}
.decide-booking-absolute {
  position: absolute;
  bottom: -237px;
}

.booking-title {
  background-color: rgba(0,0,0,0.8);
  text-align: center;
  color: white;
  border-radius: 2px 2px 0px 0px;
  padding: 5px 0px
}
.booking-title p {
  margin: 0px
}
.form-booking {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  background-color: white;
  height:90%;
}
.book-now-button {
  margin-bottom: 10px;
  padding: 5px 20px;
}
.form-booking .btn {
  width: 100%;
}
.booking_price.form-group {
  margin-bottom: 0px !important;
}
#computation {
  font-size:12px;
  color: grey;
  height:25px;
  max-width:100px;
  margin-left: 63px;
}
#booking_price {
  color: blue;
  font-weight: bold;
  background-color: white;
}
