// Place all the styles related to the bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.decide-booking-card {
    height: 350px;
    width: 316px;
    padding: 0px !important;
    margin-left: 30px;
    background-color: #FDFDFD;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #DFDDDD;
    position: relative;
    right: -23%;
    top: 376px;
}
.booking-title {
  background-color: $gray-dark;
  text-align: center;
  color: white;
  border-radius: 5px 5px 0px 0px;
  padding: 5px 0px
}
.booking-title p {
  margin: 0px
}
.form-booking {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.book-now-button {
  margin-bottom: 10px;
  padding: 5px 20px;
}
.form-booking .btn {
  width: 100%;
}
.booking_price.form-group {
  margin-bottom: 0px !important;
}
#computation {
  font-size:12px;
  color: grey;
  height:25px;
  max-width:100px;
  margin-left: 63px;
}
#booking_price {
  color: blue;
  font-weight: bold;
  background-color: white;
}
