// Place all the styles related to the tours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tour-banner {
  position: relative;
}
.tour-gallery {
  width: 550px;
  padding: 20px;
}
.guide-profile {
  border-bottom: 1px solid #FAF6F6;
  box-shadow: 1px 1px 2px #F8F5F5;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.guide-main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    font-weight: 900;
    padding-top: 5px;
  }
}
.guide-other-info {
  padding-left: 25px;
  h3 {
    font-style: italic;
  }
}
.tour-edit-button {
  postion: absolute;
  top: 0px;
  text-align: center;
}
