// Place all the styles related to the tours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tour-banner {
  background-size: cover !important;
    background-size: 100px 100%;
    background-repeat: no-repeat;
}
.tour-gallery {
  width: 550px;
  padding: 20px;
}
